@model ParkyWeb.Models.User

<h1>Register</h1>

<form method="post">
    <input type="text" asp-for="Username" placeholder="username...." />
    <input type="password" asp-for="Password" placeholder="Password...." />
    <button type ="submit" value="Submit" >Register</button>
</form>
